
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

.clear {
  clear: both;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.canvaswrapper {
  width: 800px;
  height: 800px;
  border: 1px solid black;
}